body{
    background-image: url('images/background-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
h1 {
    font-weight: bold;
}
address {
border: 2px solid tomato;
color: whitesmoke;
text-align: center;
background-color: rgba(6, 6, 236,0.2);
}
pre {
background-color: rgb(194, 248, 0);
color: rgb(0, 0, 0);
text-align: center;
border: 3px solid;
border-radius: 10%;
padding: 10%;
}
h3{
border: 2px solid;
margin: 2%;
text-align: center;
}
h4 {

    border: 2px solid;
}

table,th,td {
border: 1px  solid;
color: black;
}

th,td {
background-color: darkgreen;
text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  .poem {
 padding: 25%;
 color: brown;

  }
  .p{
    font-size: large;
    font-style: italic;
  }
  .pdf {
    border: none;
  }

form {
background-color: rgba(76, 0, 130, 0.308);


}

